
@import url('https://fonts.googleapis.com/css2?family=Jersey+20+Charted&display=swap');


#container{
    margin:30px;
}

h1, p{
    text-align: center;
}


#or{
    margin-top:18px;
}

#button{
    border:none;
    background-color:#007bff;
    color:white;
    border-radius: 20px;
    padding:5px;
    margin: 0 auto;
    display:flex;
    justify-content: center;
    width:50%;
}

footer{
    margin:auto 10px;
    color:grey
}