body{
    font-family: Arial, Helvetica, sans-serif;
}
footer{
    margin:auto 10px;
    color:grey;
    text-align:center
}

a{
    text-decoration: none;
}

h1{
    color:black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

fieldset{
    border-radius:10px;
    border: 1px solid #007bff;
    display: flex;
    flex-direction: column;
    margin:15px;
    position:relative
}

fieldset legend{
    font-weight: bold;
    color:#007bff
}

fieldset img{
 width:35px;
 position: absolute;
 top:30%;
right:1%;
}

fieldset img:hover{
    cursor:pointer
}

#addButton{
    position: fixed;
    bottom:3%;
    right:3%;
    font-size:20px
    
}